<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление записи в базу данных</title>
</head>
<body>
<a href="{% url 'concerts:db_info' %}"> Обратно к списку таблиц</a>
<br>
<h3>Добавить запись в таблицу жанры</h3>

<form method="post" action="{% url 'concerts:add_genre' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <button> добавить </button>
</form>

<br>
<h3> Записи в таблице genres (жанры) </h3>
{% if genres_list %}
        <ul>
        {% for genre in genres_list %}
            <li> id - {{genre.id}} <br>
                название - {{genre.name}} <br>
                <a href="{% url 'concerts:update_genre' genre.id %}"> Изменить </a> <br>
                <a href="{% url 'concerts:delete_genre' genre.id %}"> Удалить </a>
            </li>
            <br>
            <br>
        {% endfor %}
        </ul>
{% endif %}
</body>
</html>