<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление записи в базу данных</title>
</head>
<body>
<a href="{% url 'concerts:db_info' %}"> Обратно к списку таблиц</a>
<br>
<h3>Добавить запись в таблицу концерты</h3>

<form method="post" action="{% url 'concerts:add_concert' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <button> добавить </button>
</form>

<br>
<h3> Записи в таблице concerts (концерты) </h3>
{% if concerts_list %}
        <ul>
        {% for concert in concerts_list %}
            <li> id - {{concert.id}} <br>
                название - {{concert.name}} <br>
                краткое описание (description) - {{concert.description}} <br>
                дата - {{concert.date}} <br>
                id площадки - {{concert.place_id}} <br>
                id артиста - {{concert.artist_id}} <br>
                <a href="{% url 'concerts:update_concert' concert.id %}"> Изменить </a> <br>
                <a href="{% url 'concerts:delete_concert' concert.id %}"> Удалить </a> <br>
            </li>
            <br>
            <br>
        {% endfor %}
        </ul>
{% endif %}
</body>
</html>